<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <p class="logo">
    <img src="../assets/KF.svg">
  </p>
  <div class="header-right">
    <p (click)="loginWithRedirect()" class="login" *ngIf="!userLoggedIn">Login</p>
    <p *ngIf="auth.isAuthenticated$ | async" (click)="logout()" class="logout">Logout</p>
  </div>
</div>
<div class="bodyContainer">
  <p>Wellcome to Kornferry Talent Registration page</p>
  <ul *ngIf="auth.user$ | async as user" style=" list-style-type: none;">
    <img [src]="user.picture" height="40px" width="40px" style="border-radius: 50px;"/>
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
  </ul>
</div>
</body>
</html>
